* {
    padding: 0;
    margin: 0
}
canvas {
    background-color: white;
    display: none;
    margin-top: 20%;
    margin-left: 25%
}

body {
    text-align: center;
    background-color: lightgreen;
}

h1 {
    margin-top: 23%
}

/* .gameOver{
    display: none;
    margin-top: 15%;
    margin-left: 20%;
    height: 400;
    width: 800;
    background-color: white;
} */


